---
title: Archive | Bay Area Programming Contest
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include navbar.html %}

<main>
    <h1 class="display-5 text-white text-center">CONTEST INFORMATION</h1>

    <div class="row row-cols-2 g-5 m-0">
        <div class="col">
            <div class="card card-border h-100">
                <div class="card-body text-center">
                    <h3 class="card-title">TIME & LOCATION</h3>
                    <p class="card-text">
                        BAPC 2024 will be held at Gunn High School in Palo Alto, California on March 3rd, 2024 from
                        11:00 AM to 4:00 PM. Exact location TBD.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-border h-100">
                <div class="card-body text-center">
                    <h3 class="card-title">CONTEST FORMAT</h3>
                    <p class="card-text">
                        The <b>3</b> hour long contest will be held through DomJudge. It will follow further in the
                        rules below).
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-3 g-5 m-0">
        <div class="col">
            <div class="card card-border h-100">
                <div class="card-body text-center">
                    <h3 class="card-title">PROBLEMS</h3>
                    <p class="card-text">
                        You will be given between <b>8</b> and <b>18</b> problems to solve ranging from USACO Bronze to
                        Platinum difficulty. The problems will not be sorted by difficulty.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-border h-100">
                <div class="card-body text-center">
                    <h3 class="card-title">REGISTRATION</h3>
                    <p class="card-text">
                        The link to register is available <a href="https://forms.gle/yhwt4j8BoG9vKXMZ8" target="_blank">here.</a>
                    </p>
                    <p class="card-text">
                        Join the Discord server <a href="https://discord.gg/KeCwPgwE82" target="_blank">here.</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-border h-100">
                <div class="card-body text-center">
                    <h3 class="card-title">TEAMS</h3>
                    <p class="card-text">
                        Teams may have at most <b>3</b> members and must use <b>1</b> computer during the contest.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-2 g-5 m-0">
        <div class="col">
            <div class="card card-border h-100">
                <div class="card-body text-center">
                    <h3 class="card-title">PRIZES</h3>
                    <p class="card-text">
                        The prizes are TBD. Prizes will only be provided to participants in the in-person contest.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-border h-100">
                <div class="card-body text-center">
                    <h3 class="card-title">ONLINE MIRROR</h3>
                    <p class="card-text">
                        We will also be hosting an online mirror for those who cannot make this event in person. There
                        will be a separate set of rules for those taking the contest online (explained in the rules
                        section).
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="accordion">
            <div class="card-border mx-4 my-5">
                <h3 class="accordion-header m-2" id="rules">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#rulesContent" aria-expanded="false" aria-controls="rulesContent">
                        <span class="h3 m-0">RULES</span>
                    </button>
                </h3>
                <div id="rulesContent" class="accordion-collapse collapse" aria-labelledby="rules">
                    <div class="accordion-body pt-0">
                        <div class="border-top pt-3">
                            <h4>International Collegiate Programming Contest (ICPC) Format </h4>
                            <p>- Teams will be ranked based on number of problems solved. Ties will be broken by total
                                time penalty across solved problems. </p>
                            <p>- Each incorrect submission will incur 10 additional minutes of time penalty. </p>
                            <p>- Outside sources (other than reference manuals) are not allowed. </p>
                            <p>- A codebook will be provided to each team before the contest. </p>
                            <p>- Participants will be able to print their code. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-border mx-4 my-5">
                <h3 class="accordion-header m-2" id="onlineMirror">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#onlineMirrorContent" aria-expanded="false"
                            aria-controls="onlineMirrorContent">
                        <span class="h3 m-0">ONLINE MIRROR</span>
                    </button>
                </h3>
                <div id="onlineMirrorContent" class="accordion-collapse collapse" aria-labelledby="onlineMirror">
                    <div class="accordion-body pt-0">
                        <div class="border-top pt-3">
                            <h4>Contest Format</h4>
                            <p>- Teams will be ranked based on number of problems solved. Ties will be broken by total
                                time penalty across solved problems. </p>
                            <p>- Each incorrect submission will incur 10 additional minutes of time penalty. </p>
                            <p>- Prewritten code and use of the internet is allowed. </p>
                            <p>- Participants are encouraged to meet up and use 1 computer; however, this isn't a
                                requirement. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-border mx-4 my-5">
                <h3 class="accordion-header m-2" id="resources">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#resourcesContent" aria-expanded="false" aria-controls="resourcesContent">
                        <span class="h3 m-0">RESOURCES</span>
                    </button>
                </h3>
                <div id="resourcesContent" class="accordion-collapse collapse" aria-labelledby="resources">
                    <div class="accordion-body pt-0">
                        <div class="border-top pt-3">
                            <h4>Competitive Programming Resources</h4>
                            <p>- <a href="http://usaco.org">USA Computing Olympiad (USACO)</a>: The largest competitive programming contest for high school students in the USA. </p>
                            <p>- <a href="https://codeforces.com">Codeforces</a>: Regular competitive programming contests for people around the world. </p>
                            <p>- <a href="https://usaco.guide">USACO Guide</a>: A free student-run comprehensive guide to approaching and practicing for the USACO. </p>
                            <h4>General Programming Resources</h4>
                            <p>- <a href="https://codecademy.com">Codecademy</a>: Self-guided tutorials for various programming languages. </p>
                            <p>- <a href="https://learncpp.com">Learn C++</a>: A free tutorial website for the C++ programming language. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
