---
title: Archive | Bay Area Programming Contest
---
<!DOCTYPE html>
<html lang="en">
{% include head.html dropdown="true" %}
<body>
{% include navbar.html %}

<main>
    <div class="title">
        <h1>CONTEST INFORMATION</h1>
    </div>

    <div class="cards" id="r1">
        <div class="card card-border bg-black">
            <h1>TIME & LOCATION</h1>
            <p>BAPC 2024 will be held at Gunn High School in Palo Alto, California on March 3rd, 2024 from 11:00 AM to
                4:00 PM. Exact location TBD. </p>
        </div>
        <div class="card card-border bg-black">
            <h1>CONTEST FORMAT</h1>
            <p> The <b>3</b> hour long contest will be held through DomJudge. It will follow ICPC format (explained
                further in the rules below).</p>
        </div>
        <!-- Add more rows as needed -->
    </div>

    <div class="cards" id="r2">
        <div class="card card-border bg-black">
            <h1>PROBLEMS</h1>
            <p> You will be given between <b>8</b> and <b>18</b> problems to solve ranging from USACO Bronze to Platinum
                difficulty. The problems will not be sorted by difficulty.</p>
        </div>
        <div class="card card-border bg-black">
            <h1>REGISTRATION</h1>
            <p>The link to register is available <a href="https://forms.gle/yhwt4j8BoG9vKXMZ8" target="_blank" style="color: #ff1144;">here.</a></p>
            <p>Join the Discord server <a href="https://discord.gg/KeCwPgwE82" target="_blank" style="color: #ff1144;">here.</a></p>
        </div>
        <div class="card card-border bg-black">
            <h1>TEAMS</h1>
            <p> Teams may have at most <b>3</b> members and must use <b>1</b> computer during the contest.</p>
        </div>
    </div>

    <div class="cards" id="r3">
        <div class="card card-border bg-black">
            <h1>PRIZES</h1>
            <p>The prizes are TBD. Prizes will only be provided to participants in the in-person contest.</p>
        </div>
        <div class="card card-border bg-black">
            <h1>ONLINE MIRROR</h1>
            <p>We will also be hosting an online mirror for those who cannot make this event in person. There will be a
                separate set of rules for those taking the contest online (explained in the rules section).</p>
        </div>
    </div>

    <div class="collapsible">
        <div class="card-border card-nonglow">
            <button class="collapsible-btn">RULES <span class="toggle-icon">&#x002B</span></button>
            <div class="card-content">
                <h1>International Collegiate Programming Contest (ICPC) Format </h1>
                <p>- Teams will be ranked based on number of problems solved. Ties will be broken by total time penalty
                    across solved problems. </p>
                <p>- Each incorrect submission will incur 10 additional minutes of time penalty. </p>
                <p>- Outside sources (other than reference manuals) are not allowed. </p>
                <p>- A codebook will be provided to each team before the contest. </p>
                <p>- Participants will be able to print their code. </p>
            </div>
        </div>
    </div>
    <div class="collapsible">
        <div class="card-border card-nonglow">
            <button class="collapsible-btn">ONLINE MIRROR <span class="toggle-icon">&#x002B</span></button>
            <div class="card-content">
                <h1>Contest Format</h1>
                <p>- Teams will be ranked based on number of problems solved. Ties will be broken by total time penalty
                    across solved problems. </p>
                <p>- Each incorrect submission will incur 10 additional minutes of time penalty. </p>
                <p>- Prewritten code and use of the internet is allowed. </p>
                <p>- Participants are encouraged to meet up and use 1 computer; however, this isn't a requirement. </p>
            </div>
        </div>
    </div>
    <div class="collapsible">
        <div class="card-border card-nonglow">
            <button class="collapsible-btn">RESOURCES <span class="toggle-icon">&#x002B</span></button>
            <div class="card-content">
                <h1>Competitive Programming Resources</h1>
                <p>- <a href="http://usaco.org" style="color: #ff1144;">USA Computing Olympiad (USACO)</a>: The largest
                    competitive programming contest for high school students in the USA. </p>
                <p>- <a href="https://codeforces.com" style="color: #ff1144;">Codeforces</a>: Regular competitive
                    programming contests for people around the world. </p>
                <p>- <a href="https://usaco.guide" style="color: #ff1144;">USACO Guide</a>: A free student-run
                    comprehensive guide to approaching and practicing for the USACO. </p>
                <h1>General Programming Resources</h1>
                <p>- <a href="https://codecademy.com" style="color: #ff1144;">Codecademy</a>: Self-guided tutorials for
                    various programming languages. </p>
                <p>- <a href="https://learncpp.com" style="color: #ff1144;">Learn C++</a>: A free tutorial website for
                    the C++ programming language. </p>
            </div>
        </div>
    </div>
</main>
</body>
</html>
