---
title: BAPC 2025 | Bay Area Programming Contest
---
<!DOCTYPE html>
<html lang="en">
{% include head.html glasshover="true" marquee="true" %}
<body>
{% include navbar.html %}

<main id="glass-card-container" class="container-lg">
    <h1 class="display-5 text-white text-center">CONTEST INFORMATION</h1>

    <div class="row row-cols-1 row-cols-sm-2 g-4 mx-2 my-1 px-1">
        <div class="col">
            <div class="glass-card card card-border h-100">
                <div class="card-body text-center">
                    <h2>TIME & LOCATION</h2>
                    <p class="h5">
                        BAPC 2025 will be held at Gunn High School's Titan Gym in Palo Alto, California on Sunday, March 2nd, 2025 from
                        10:00 AM to 4:10 PM. Click <a href="/docs/Schedule+Location.pdf#zoom=36" target="_blank">here</a> for more details.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="glass-card card card-border h-100">
                <div class="card-body text-center">
                    <h2>CONTEST FORMAT</h2>
                    <p class="h5">
                        The <b>3</b> hour long ICPC-style contest will be held through DomJudge. (For more rules See Below).
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-3 g-4 mx-2 my-1 px-1">
        <div class="col">
            <div class="glass-card card card-border h-100">
                <div class="card-body text-center">
                    <h2>TEAMS</h2>
                    <p class="h5">
                        Teams may have at most <b>3</b> members and must use <b>1</b> computer during the contest. Participants should bring their own computers.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="glass-card glow-card card card-border h-100">
                <div class="card-body text-center">
                    <h2>REGISTRATION</h2>
                    <p class="h5">
                        <a> Registration for 2025 has closed.</a>
                    </p>
                    <p class="h5">
                        Join the Discord server <a href="https://discord.gg/KeCwPgwE82" target="_blank">here.</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="glass-card card card-border h-100">
                <div class="card-body text-center">
                    <h2>PROBLEMS</h2>
                    <p class="h5">
                        You will be given <b>8 to 13</b> problems to solve ranging from USACO Bronze to
                        Platinum difficulty. The problems will not be sorted by difficulty.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 g-4 mx-2 my-1 px-1">
        <div class="col">
            <div class="glass-card card card-border h-100">
                <div class="card-body text-center">
                    <h2>PRIZES</h2>
                    <div id="prizeCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div style="height: 180px; display: flex; align-items: center; justify-content: center;">
                                    <img src="/images/prizes/smokin_buds.png" class="d-block" alt="Earbuds Prize" style="max-height: 100%; object-fit: contain;">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div style="height: 180px; display: flex; align-items: center; justify-content: center;">
                                    <img src="/images/prizes/easy-catch-frisbee.png" class="d-block" alt="Frisbee Prize" style="max-height: 100%; object-fit: contain;">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div style="height: 180px; display: flex; align-items: center; justify-content: center;">
                                    <img src="/images/prizes/hanayama_puzzle.png" class="d-block" alt="Hanayama Puzzle" style="max-height: 100%; object-fit: contain;">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div style="height: 180px; display: flex; align-items: center; justify-content: center;">
                                    <img src="/images/prizes/red_panda_plushie.png" class="d-block" alt="Red Panda Plushie" style="max-height: 100%; object-fit: contain;">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div style="height: 180px; display: flex; align-items: center; justify-content: center;">
                                    <img src="/images/prizes/red_panda_stickers.png" class="d-block" alt="Red Panda Stickers" style="max-height: 100%; object-fit: contain;">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div style="height: 180px; display: flex; align-items: center; justify-content: center;">
                                    <img src="/images/prizes/sunny_city_puzzle.png" class="d-block" alt="Sunny City Puzzle" style="max-height: 100%; object-fit: contain;">
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#prizeCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#prizeCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        
                    </div>
                    <p class="h5">
                        <!--
                        Everyone who participates in person will receive a T-shirt given a registration prior to 2/20/24.
                        Top 3 teams will receive prizes. Prizes will include coupons and gifts from our sponsors,
                        as well as red panda plushies!
                        Prizes will only be provided to pre-college participants in the in-person contest.
                        -->
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="glass-card card card-border h-100">
                <div class="card-body text-center">
                    <h2>ONLINE MIRROR</h2>
                    <p class="h5">
                        We will also be hosting an online mirror for those who cannot make this event in person. There
                        will be a separate set of rules for those taking the contest online 
                    </p>
                    <p class="h5">
                        (See Online Mirror Section).
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="accordion">
            <div class="m-4">
                <div class="glass-card card-border position-relative">
                    <div class="accordion-item border-0 bg-transparent">
                        <button class="accordion-button collapsed w-100 h-100 p-4 position-relative" type="button" 
                                data-bs-toggle="collapse" data-bs-target="#scheduleContent" 
                                aria-expanded="false" aria-controls="scheduleContent"
                                style="z-index: 10;">
                            <h3 class="card-title h3 m-0 text-danger">SCHEDULE</h3>
                        </button>
                    </div>
                    <div id="scheduleContent" class="accordion-collapse collapse" aria-labelledby="schedule">
                        <div class="accordion-body pt-0">
                            <div class="border-top pt-3">
                                <p class="h5">10:00 — 10:30 Check-In</p>

                                <p class="h5"> 10:30 — 10:50 Opening Ceremony </p>

                                <p class="h5"> 10:50 — 11:30 Practice Contest</p>

                                <p class="h5"> 11:30 — 12:20 Mini-Events + Lunch</p>

                                <p class="h5"> 12:45 — 3:45 Contest</p>

                                <p class="h5"> 3:50 — 4:10 Closing Ceremony</p>

                                <p class="h5"> *all times are in PT</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-4">
                <div class="glass-card card-border position-relative">
                    <div class="accordion-item border-0 bg-transparent">
                        <button class="accordion-button collapsed w-100 h-100 p-4 position-relative" type="button" 
                                data-bs-toggle="collapse" data-bs-target="#rulesContent" 
                                aria-expanded="false" aria-controls="rulesContent"
                                style="z-index: 10;">
                            <h3 class="card-title h3 m-0 text-danger">RULES</h3>
                        </button>
                    </div>
                    <div id="rulesContent" class="accordion-collapse collapse" aria-labelledby="rules">
                        <div class="accordion-body pt-0">
                            <div class="border-top pt-3">
                                <h4>International Collegiate Programming Contest (ICPC) Format </h4>
                                <p>- Teams will be ranked based on number of problems solved. Ties will be broken by total
                                    time penalty across solved problems. </p>
                                <p>- Each incorrect submission will incur 20 additional minutes of time penalty. </p>
                                <p>- Outside sources (other than reference manuals) are not allowed. This includes but is not limited to the Internet and AI</p>
                                <p>- A codebook will be provided to each team before the contest. </p>
                                <p>- Participants will be able to print their code. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-4">
                <div class="glass-card card-border position-relative">
                    <div class="accordion-item border-0 bg-transparent">
                        <button class="accordion-button collapsed w-100 h-100 p-4 position-relative" type="button" 
                                data-bs-toggle="collapse" data-bs-target="#onlineMirrorContent" 
                                aria-expanded="false" aria-controls="onlineMirrorContent"
                                style="z-index: 10;">
                            <h3 class="card-title h3 m-0 text-danger">ONLINE MIRROR</h3>
                        </button>
                    </div>
                    <div id="onlineMirrorContent" class="accordion-collapse collapse" aria-labelledby="onlineMirror">
                        <div class="accordion-body pt-0">
                            <div class="border-top pt-3">
                                <h4>Contest Format</h4>
                                <p>- Teams will be ranked based on number of problems solved. Ties will be broken by total
                                    time penalty across solved problems. </p>
                                <p>- Each incorrect submission will incur 20 additional minutes of time penalty. </p>
                                <p>- Prewritten code and use of the internet is allowed. </p>
                                <p>- Participants are encouraged to meet up and use 1 computer; however, this isn't a
                                    requirement. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-4">
                <div class="glass-card card-border position-relative">
                    <div class="accordion-item border-0 bg-transparent">
                        <button class="accordion-button collapsed w-100 h-100 p-4 position-relative" type="button" 
                                data-bs-toggle="collapse" data-bs-target="#resourcesContent" 
                                aria-expanded="false" aria-controls="resourcesContent"
                                style="z-index: 10;">
                            <h3 class="card-title h3 m-0 text-danger">RESOURCES</h3>
                        </button>
                    </div>
                    <div id="resourcesContent" class="accordion-collapse collapse" aria-labelledby="resources">
                        <div class="accordion-body pt-0">
                            <div class="border-top pt-3">
                                <h4>Competitive Programming Resources</h4>
                                <p>- <a href="http://usaco.org">USA Computing Olympiad (USACO)</a>: The largest competitive programming contest for high school students in the USA. </p>
                                <p>- <a href="https://codeforces.com">Codeforces</a>: Regular competitive programming contests for people around the world. </p>
                                <p>- <a href="https://usaco.guide">USACO Guide</a>: A free student-run comprehensive guide to approaching and practicing for the USACO. </p>
                                <h4>General Programming Resources</h4>
                                <p>- <a href="https://codecademy.com">Codecademy</a>: Self-guided tutorials for various programming languages. </p>
                                <p>- <a href="https://learncpp.com">Learn C++</a>: A free tutorial website for the C++ programming language. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>