---
title: BAPC 2024 | Bay Area Programming Contest
---
<!DOCTYPE html>
<html lang="en">
{% include head.html cipherscript="true" home="true" fade="true" %}
<body>
<main class="vh-100 d-flex flex-column align-items-center justify-content-between">
<!--    Put navbar inside so that the vh-100 calculation includes it. Bit hacky but should work.-->
    {% include navbar.html %}
    <div class="d-flex flex-column align-items-center">
        <h1 class="hero cipher">BAPC 2024</h1>
        <h2 class="date text-white mb-4">03.03.2024</h2>
        <div class="Register">
            <a id="registerButton" href="https://forms.gle/yhwt4j8BoG9vKXMZ8" target="_blank">REGISTER HERE</a>
        </div>
    </div>

    <img id="delayed-button" class="my-5" onclick="scrollToSection()" src="/images/downarrow.png" alt="down arrow">
</main>

<div class="WhatIsBAPC text-center vh-100">
    <div class="col-12">
        <div class="heading fw-bold" data-delay="0">
            <div class="fade-in-text">ABOUT BAPC</div>
        </div>
            <div class="bodyText text-white">
                <div class="fade-in-text" data-delay="100">The Bay Area Programming Contest (BAPC)<br></div>
                <div class="fade-in-text" data-delay="200">is a programming contest for contestants of all levels
                    designed by<br></div>
                <div class="fade-in-text" data-delay="300">Gunn's Competitive Programming Club. We hope to give Bay
                    Area<br></div>
                <div class="fade-in-text" data-delay="400">high school students an opportunity to compete with peers
                    and solve<br></div>
                <div class="fade-in-text" data-delay="500"> some interesting problems in an ICPC style format.<br>
            </div>
        </div>
    </div>
</div>

<div class="FAQ">
    <div class="container-fluid">
        <div class="fade-in-text" data-delay="0">
            <div>FREQUENTLY ASKED QUESTIONS</div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="fade-in-text" data-delay="100">
                    <div class="question"> WHERE WILL BAPC BE HELD?</div>
                </div>
                <div class="fade-in-text" data-delay="200">
                    <div class="answer"> BAPC will be held in-person at Gunn High School (exact location TBD). There will be an online
                        mirror for those who can't make it.
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="fade-in-text" data-delay="300">
                    <div class="question"> WHAT LANGUAGES ARE AVAILABLE?</div>
                </div>
                <div class="fade-in-text" data-delay="400">
                    <div class="answer"> We support the following languages: C++, Python3, and Java.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="fade-in-text" data-delay="500">
                    <div class="question"> WHAT IS THE FORMAT OF THE CONTEST?</div>
                </div>
                <div class="fade-in-text" data-delay="600">
                    <div class="answer"> The contest will be a 3 hour long ICPC style contest. You will be given between
                        8 and 16 problems to solve with your team.
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="fade-in-text" data-delay="700">
                    <div class="question"> HOW MANY PEOPLE CAN BE ON A TEAM?</div>
                </div>
                <div class="fade-in-text" data-delay="800">
                    <div class="answer"> Teams may have up to 3 members.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="Sponsors">
    <div class="container">
        <div style="color: #ff1144;font-size: 6rem;">OUR SPONSORS</div>
        <!--
        <div class = "sponsor-tier" style="color: #93CFFB;">PLATINUM</div>
        <div class="row">

        </div>
        <div class = "sponsor-tier" style="color: gold ;">GOLD</div>
        <div class="row">

        </div>
    -->
        <div class = "sponsor-tier" >SILVER</div>
        <div class="row">
            <div class="col-lg-4 col-12">
                <img src="/images/Recursive_Dragon_Logo.png" class="w-75" alt="RD Logo">
            </div>
        </div>
        <div class = "sponsor-tier">BRONZE</div>
        <div class="row">
            <div class="col-lg-4 col-12">
                <img src="/images/AoPS_Main_Logo_1_2.png" class="w-75" alt="AoPS Logo">
            </div>
            <div class="col-lg-4 col-12">
                <img src="/images/Wolfram_Logo_1.png" class="w-75" alt="Wolfram Logo">
            </div>
        </div>
        <div class = "sponsor-tier">PARTNERS</div>
        <div class="row">
            <div class="col-lg-4 col-12">
                <img src="/images/cpi_logo.png" style="width: 30%;" alt="CPI Logo">
            </div>
        </div>
        <div class="my-5 fs-6 letter-spacing-100" style="letter-spacing: 2px;">To sponsor our event, email us at <a href="mailto:gunncpc@gmail.com">gunncpc@gmail.com</a>. Find our sponsorship prospectus <a href="/docs/Sponsorship_Prospectus.pdf" target="_blank">here</a>.</div>
    </div>
</div>
<footer class="text-center">
    <p>&copy; 2024 Bay Area Programming Competition. All rights reserved.</p>
</footer>
</body>
</html>

