{% if include.category.photos %}
<div class="row">
    {% for photo in include.category.photos %}
        <div class="col col-6 col-sm-4 col-md-3 my-2">
            <div class="card h-100 bg-dark">
                <img src="{{ photo.low_resolution_path }}" class="card-img-top" alt="{{ photo.caption }}" data-bs-toggle="modal" data-bs-target="#modal-{{ photo.low_resolution_path | slugify }}" role="button" loading="lazy">
            </div>
        </div>
        <div class="modal fade" id="modal-{{ photo.low_resolution_path | slugify }}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content bg-dark">
                    <button type="button" class="btn-close btn-close-white position-absolute top-0 left-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                    <iframe src="{{ photo.full_resolution_link }}" class="full-resolution-iframe" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}

{% if include.category.categories %}
<div class="accordion" id="accordion-{{ include.category.name | slugify }}">
    {% if include.category.categories.size > 6 %}
        <div class="row row-cols-4">
            {% for subcategory in include.category.categories %}
                <div class="col my-2">
                    <button id="button-{{ subcategory.name | slugify }}" class="btn w-100 h-100 px-1 py-4 text-center border" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-item-{{ subcategory.name | slugify }}" aria-expanded="false" aria-controls="accordion-item-{{ subcategory.name | slugify }}">
                        {{ subcategory.name }}
                    </button>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="row row-cols-{{ include.category.categories.size }}">
            {% for subcategory in include.category.categories %}
                <div class="col my-2">
                    <button id="button-{{ subcategory.name | slugify }}" class="btn w-100 h-100 px-1 py-4 text-center border" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-item-{{ subcategory.name | slugify }}" aria-expanded="false" aria-controls="accordion-item-{{ subcategory.name | slugify }}">
                        {{ subcategory.name }}
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% for subcategory in include.category.categories %}
        <div class="accordion-item">
            <div id="accordion-item-{{ subcategory.name | slugify }}" class="accordion-collapse collapse" aria-labelledby="button-{{ subcategory.name | slugify }}" data-bs-parent="#accordion-{{ include.category.name | slugify }}">
                {% include photo_category.html category=subcategory %}
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
