@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
/*home page*/
.Home {
	/*background-image:url(/background_4.png);*/
	background-size:cover;
	background-position:50% 50%;
	width: 100%;
	height:100vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
    margin:0px;
    padding:0px;
}

.blur-section {
    width: 100%;
    height: 100px; /* Adjust the height of the blurred section as needed */
    margin: 0;
    top: 0px;
    position: absolute;
    background: black;
    /*filter: blur(10px); /* Adjust the blur radius as needed */

}

a.cipher {
    color: #ff1144;
    font-family: "Jura", monospace;
    font-size: 200px;
    letter-spacing: 50px;
    text-decoration: none;
    text-align: center;
    margin: 0px;
}


main div.Summary {
    position: relative;
    top: 0;
    color: #fcfcfc;
    font-family: "Jura", monospace;
    font-size: 70px;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: top;
    margin: 0px;
    top: -20px;
}

main div.Register a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	color:#ff1144;
    font-size:3em;
    font-family: "Jura", monospace;
    font-weight: bold;
	text-decoration:none;
	padding:0.5em;
	cursor:pointer;
	height:50px;
    text-align: center;
    border-radius: 3px;
    background-color: black;
    border-radius: 10px;
    outline: 2px solid #ff1144;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

main div.Register a:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	color: #ff1144;
    font-size:3em;
    font-family: "Jura", monospace;
    font-weight: bold;
	text-decoration:none;
	cursor:pointer;
	height:50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgb(255, 0, 0);
    background-color: #000000;
}

.WhatIsBAPC{
    background-size: cover;
    padding: 100px;
    margin: 50px;
    height: 72vh;
    line-height: 200%;
    position: relative;
    color: #fcfcfc;
    font-family: "Jura", monospace;
    font-size: 2rem;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    background-color: black;
    border-radius: 30px;
    
}

.WhatIsBAPC .heading{
    margin: 50px;
    position: relative;
    color: #ff1144;
    font-family: "Jura", monospace;
    font-size: 5rem;
    font-weight: 1000;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #000000;
    border-radius: 20px;
}

.FAQ{
    padding: 20px;
    margin: 50px;
    position: relative;
    color: #ff1144;
    font-family: "Jura", monospace;
    font-size: 3rem;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #000000;
    border-radius: 20px;
}

.question{
    padding: 20px;
    margin: 5px;
    position: relative;
    color: #ff1144;
    font-family: "Jura", monospace;
    font-size: 2rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: left;
    background-color: #000000;
    border-radius: 10px;
}

.answer{
    padding: 20px;
    margin: 30px;
    position: relative;
    color: #fcfcfc;
    font-family: "Jura", monospace;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: left;
    background-color: #000000;
    border-radius: 10px;
}

.Sponsors{
    padding: 20px;
    margin: 50px;
    position: relative;
    color: #ff1144;
    font-family: "Jura", monospace;
    font-size: 4rem;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #000000;
    border-radius: 20px;
}

/* every other page*/
main {
    position: relative;
    width: 100vw;
    height: 100px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
    margin:0px;
    padding:0px;
}

#logo {
    position:absolute;
    top:10px;
    left:20px;
    width:auto;
    height:80px;
    margin:0px;
    padding:0px;
}

main div {
	margin:20px;
	text-align:top;
	background-color: #000000;
	border-radius:1px;	
	padding:0px;
}

#row1{
	position:absolute;
	top:0;
	left:130px;
	display:flex;
	flex-direction:row;
	width:52vw;
	height:100px;
	align-items:center;
    vertical-align: middle;
	justify-content:flex-start;
	gap: 20px;
	margin-right:20px;
    vertical-align: middle;
}

main nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	color:white;
    font-size:1.5em;
    font-family: "Jura", monospace;
    font-weight: bold;
	text-decoration:none;
	padding:0.5em;
	cursor:pointer;
	height:50px;
    text-align: center;
    background-color: #000000;
    border-radius: 3px;
}

main nav a:hover {
	background-color:#000000;
	color:#ff1144;
    text-shadow: 0 0 10px rgb(255, 0, 0);
	border-radius:3px;
}


body {
    background-color: black;
    margin:0px;
    padding:0px;
}

.title{
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 50px;
    font-size: 30px;
    font-family: "Jura", monospace;
    font-weight: bold;
    height: auto;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

th, td {
    padding: 15px;
    text-align: center;
}

tr{
    display: flex;
    align-items: top;
    justify-content: center;
}

.card-nonglow,
.card {
    transition: box-shadow 0.3s;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    border: 4px solid #ff1144;
    padding: 25px;
    font-family: "Jura", monospace;
    flex: 1;
}

.card h1{
    font-weight: 1000;
}


.card h1{
    color: #ff1144;
    font-size: 40px;
}

.card p{
    color: #ff1144;
    font-size: 20px;
}

.ruleslist{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: left;
    align-items: left;
}

tbody {
    display: flex;
    gap: 0px; /* Adjust the gap as needed */
    margin-left: 100px;
    margin-right: 100px;
}

.collapsible{
    margin-left: 100px;
    margin-right: 100px;
}

.collapsible-btn {
    background-color: #000000;
    border: none;
    color: #ff1144;
    font-family: "Jura", monospace;
    font-weight: 1000;
    border-radius: 10px;
    padding: 20px;
    align-self: center;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 40px;
}

.collapsible-btn:hover {
    color:#ff1144;
}

.toggle-icon {
    float: right;
    text-align: center;
    vertical-align: middle;
}

.card-content {
    border-top: 3px solid #ff1144;
    margin-left: 20px;
    margin-right: 20px;
    max-height: 0;
    color: #ff1144;
    padding-left: 20px;
    overflow: hidden;
    transition: max-height 0.5s ease-out; /* Add animation transition for dropping down and collapsing */
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Add fade-in animation */
}

.card-content h1 {
    font-size: 30px;
}

.card-content p{
    font-size: 20px;
    margin-left: 20px;
}

.collapsible.expanded .card-content {
    max-height: 400px; /* Adjust the max height as needed */
    opacity: 1;
}

.fade-in-text {
    opacity: 0;
    transition: opacity 2s ease-in; /* Add a transition for smoother fade-in effect */
}

.fade-in-text.fade-in {
    opacity: 1;
}