@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

body {
    background-color: black;
    margin:0px;
    padding:0px;
}

h1 {
    color: navy;
    margin-left: 20px;
}

/* css for index.html */

main {
	background-image:url(/background_4.png);
	background-size:cover;
	background-position:50% 50%;
	width: 100%;
	height:100vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
    margin:0px;
    padding:0px;
}

#logo {
    position:absolute;
    top:10px;
    left:20px;
    width:auto;
    height:80px;
    margin:0px;
    padding:0px;
}

main div {
	margin:20px;
	text-align:top;
	background-color: #000000;
	border-radius:1px;	
	padding:0px;
}

#row1{
	position:absolute;
	top:0;
	left:130px;
	display:flex;
	flex-direction:row;
	width:52vw;
	height:100px;
	align-items:center;
    vertical-align: middle;
	justify-content:flex-start;
	gap: 20px;
	margin-right:20px;
    vertical-align: middle;
}

main nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	color:white;
    font-size:1.5em;
    font-family: "Space Mono", monospace;
    font-weight: bold;
	text-decoration:none;
	padding:0.5em;
	cursor:pointer;
	height:50px;
    text-align: center;
    background-color: #000000;
    border-radius: 3px;
}

main nav a img {
	width:100px;
	height:100px;
	border-radius:50%;
	object-fit: contains;
	background-color:green;
}

main nav a:hover {
	background-color:#6edbff;
	color:blue;
	border-radius:3px;
}

a.cipher {
    color: #ff3434;
    font-family: "Jura", monospace;
    font-size: 10rem;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
}

main div.Summary {
    position: relative;
    color: #fcfcfc;
    font-family: "Jura", monospace;
    font-size: 2rem;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    margin: 20px;
}

main div.Register a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	color:rgb(255, 80, 80);
    font-size:3em;
    font-family: "Jura", monospace;
    font-weight: bold;
	text-decoration:none;
	padding:0.5em;
	cursor:pointer;
	height:50px;
    text-align: center;
    border-radius: 3px;
}

main div.Register a:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	color:rgb(255, 255, 255);
    font-size:3em;
    font-family: "Jura", monospace;
    font-weight: bold;
	text-decoration:none;
	cursor:pointer;
	height:50px;
    text-align: center;
    background-color: #ff5050c5;
}

body header h1{
    padding: 20px;
    margin: 20px;
    position: relative;
    color: #fcfcfc;
    font-family: "Space Mono", monospace;
    font-size: 4rem;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #ff5050;
    border-radius: 10px;
}

.WhatIsBAPC{
    padding: 20px;
    margin: 50px;
    position: relative;
    color: #ff5050;
    font-family: "Space Mono", monospace;
    font-size: 2rem;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #fcfcfc;
    border-radius: 10px;
}

.FAQ{
    padding: 20px;
    margin: 50px;
    position: relative;
    color: #fcfcfc;
    font-family: "Space Mono", monospace;
    font-size: 2rem;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #ff5050;
    border-radius: 10px;
}

.question{
    padding: 20px;
    margin: 5px;
    position: relative;
    color: #fcfcfc;
    font-family: "Space Mono", monospace;
    font-size: 2rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: left;
    background-color: #ff5050;
    border-radius: 10px;
}

.answer{
    padding: 20px;
    margin: 5px;
    position: relative;
    color: #ff5050;
    font-family: "Lora", sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: left;
    background-color: #fcfcfc;
    border-radius: 10px;
}

.Sponsors{
    padding: 20px;
    margin: 50px;
    position: relative;
    color: #ff5050;
    font-family: "Space Mono", monospace;
    font-size: 2rem;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #fcfcfc;
    border-radius: 10px;
}

footer{
    padding: 20px;
    position: relative;
    color: #fcfcfc;
    font-family: "Space Mono", monospace;
    font-size: 2rem;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #ff5050;
}