@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

* {
    font-family: "Jura", monospace;
    --bs-body-color: #ff1144;
    --bs-primary-text-emphasis: #ff1144;
    --bs-border-color: #ff1144;
    --bs-body-bg: black;
    --bs-primary-bg-subtle: #111111;
    --bs-link-color-rgb: 255, 17, 68;

    /* Override a bunch of styling for accordion in contest.html */
    --bs-accordion-border-color: transparent;
    --bs-accordion-btn-focus-box-shadow: transparent;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f14'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f14'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

    /* Override a bunch of styling for navbar */
    --bs-navbar-nav-link-padding-x: 1.3rem;
    --bs-nav-link-font-size: 1.5rem;
    --bs-nav-link-font-weight: bold;
}

.text-glow {
    text-shadow: 0 0 20px currentColor;
}

.fade-in-text {
    opacity: 0;
}

.fade-in-text.fade-in {
    opacity: 1;
}

.card-border {
    border-radius: 1rem;
    border: 0.23vw solid var(--bs-border-color);
}

.glass-card {
    border: 2px solid #ff114547;
    background-color: #ff11451A;
    backdrop-filter: blur(3px);
    transition: transform 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.glass-card:hover {
    box-shadow: 0 0 10px var(--bs-border-color);
    transform: scale(1.03);
}

.glass-card:hover::before {
    opacity: 1;
}

.glass-card::before,
.glass-card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 500ms;
}

.glass-card::before {
    background: radial-gradient(
            800px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.06),
            transparent 40%
    );
    z-index: 3;
}


#glass-card:hover > .glass-card::after {
    opacity: 1;
}

.glass-card > .card-body {
    border-radius: inherit;
    z-index: 5;
}

.card::after {
    background: radial-gradient(
            600px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.4),
            transparent 40%
    );
    z-index: 1;
}

.circle-cutout {
    width: 80%; /* Set the desired width */
    height: auto; /* Set the desired height */
    overflow: hidden;
    border-radius: 25%; /* Make the container circular */
    margin: auto auto 1.15vw;
}

.circle-cutout img,
.prize-image-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.prize-image-container {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prize-image-container img {
    max-height: 100%;
    max-width: 100%;
}

.marquee {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.marquee-track {
    display: flex;
    justify-content: center;
    min-height: auto;
    align-items: stretch;
    height: auto;
}

.marquee-item {
    height: fit-content;
    width: 30%;
    position: absolute;
}

@media (max-width: 768px) {
    .marquee {
        height: 100px;
    }
}

.full-resolution-iframe {
    height: 80vh;
}