@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
/*home page*/
.Home {
	background-image:url(/images/background_4.png);
	background-size:cover;
	background-position:50% 50%;
	width: 100%;
	height:100vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
    margin:0px;
    padding:0px;
}

.blur-section {
    width: 100%;
    height: 100px; /* Adjust the height of the blurred section as needed */
    margin: 0;
    top: -10px;
    position: fixed;
    background: #000000;
    border-bottom: 1px solid red;
    /*filter: blur(10px); /* Adjust the blur radius as needed */
    z-index: 0;
}

.name {
    color: black;
    width: 100%;
}

a.cipher {
    color: #ff3434;
    font-family: "Jura", monospace;
    font-size: 10rem;
    letter-spacing: 40px;
    text-decoration: none;
    text-align: center;
}

main div.Summary {
    position: relative;
    color: #fcfcfc;
    font-family: "Jura", monospace;
    font-size: 2rem;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    margin: 20px;
}

main div.Register a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	color:rgb(255, 80, 80);
    font-size:3em;
    font-family: "Jura", monospace;
    font-weight: bold;
	text-decoration:none;
	padding:0.5em;
	cursor:pointer;
	height:50px;
    text-align: center;
    border-radius: 3px;
}

main div.Register a:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	color: #ff3434;
    font-size:3em;
    font-family: "Jura", monospace;
    font-weight: bold;
	text-decoration:none;
	cursor:pointer;
	height:50px;
    text-align: center;
    background-color: #000000;
}

.WhatIsBAPC{
    padding: 100px;
    margin: 50px;
    line-height: 200%;
    position: relative;
    color: #fcfcfc;
    font-family: "Jura", monospace;
    font-size: 2rem;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #000000;
    border-radius: 30px;
}

.WhatIsBAPC .heading{
    padding: 20px;
    margin: 50px;
    position: relative;
    color: #ff5050;
    font-family: "Jura", monospace;
    font-size: 5rem;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #000000;
    border-radius: 20px;
}

.FAQ{
    padding: 20px;
    margin: 50px;
    position: relative;
    color: #ff5050;
    font-family: "Jura", monospace;
    font-size: 3rem;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #000000;
    border-radius: 20px;
}

.question{
    padding: 20px;
    margin: 5px;
    position: relative;
    color: #ff5050;
    font-family: "Jura", monospace;
    font-size: 2rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: left;
    background-color: #000000;
    border-radius: 10px;
}

.answer{
    padding: 20px;
    margin: 30px;
    position: relative;
    color: #fcfcfc;
    font-family: "Jura", monospace;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: left;
    background-color: #000000;
    border-radius: 10px;
}

.Sponsors{
    padding: 20px;
    margin: 50px;
    position: relative;
    color: #ff5050;
    font-family: "Jura", monospace;
    font-size: 4rem;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #000000;
    border-radius: 20px;
}

/* every other page*/
main {
    position: relative;
    width: 100vw;
    height: 100px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
    margin:0px;
    padding:0px;
}

#logo {
    position:absolute;
    top:10px;
    left:20px;
    width:auto;
    height:80px;
    margin:0px;
    padding:0px;
}

main div {
	margin:20px;
	text-align:top;
	background-color: #000000;
	border-radius:1px;	
	padding:0px;
}

#row1{
	position:absolute;
	top:0;
	left:130px;
	display:flex;
	flex-direction:row;
	width:52vw;
	height:100px;
	align-items:center;
    vertical-align: middle;
	justify-content:flex-start;
	gap: 20px;
	margin-right:20px;
    vertical-align: middle;
}

main nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	color:white;
    font-size:1.5em;
    font-family: "Jura", monospace;
    font-weight: bold;
	text-decoration:none;
	padding:0.5em;
	cursor:pointer;
	height:50px;
    text-align: center;
    background-color: #000000;
    border-radius: 3px;
}

main nav a:hover {
	background-color:#ff5050;
	color:white;
    box-shadow: 0 0 20px 5px rgb(255, 0, 0), 0 0 40px 10px rgba(255, 99, 99, 0.5);
	border-radius:3px;
}


body {
    background-color: black;
    margin:0px;
    padding:0px;
}

.title{
    box-shadow: 0 0 100px 5px rgb(255, 0, 0), 0 0 40px 10px rgba(255, 99, 99, 0.5);
    background-color: #ff5050;
    color: white;
    text-align: left;
    padding: 5px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    margin: 0px;
    font-size: 30px;
    font-family: "Space Mono", monospace;
    font-weight: bold;
    height: auto;
}

.title h1{
    text-shadow: 0 0 10px rgb(255, 255, 255,1);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

th, td {
    padding: 15px;
    text-align: center;
}

tr{
    display: flex;
    align-items: top;
    justify-content: center;
}

.card-nonglow,
.card {
    transition: box-shadow 0.3s;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    flex: 1;
}


.card:hover {
    box-shadow: 0 0 20px 1px rgb(255, 0, 0), 0 0 40px 10px rgba(255, 99, 99, 0.5);
}

.card:hover::before {
    opacity: 0;
}

.card-nonglow::before,
.card::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: -1;
    background: linear-gradient(to bottom right, red, blue); /* Adjust gradient colors */
    border-radius: 10px; /* Adjust border radius */
    pointer-events: none; /* Allow interactions with the table content */
}

.card h1{
    color: white;
    font-size: 40px;
}

.card:hover h1{
    color: #ff5050;
}


.card p{
    color: white;
    font-size: 20px;
}

.ruleslist{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: left;
    align-items: left;
}

tbody {
    display: flex;
    gap: 0px; /* Adjust the gap as needed */
    margin-left: 100px;
    margin-right: 100px;
}

.collapsible{
    margin-left: 100px;
    margin-right: 100px;
}

.collapsible-btn {
    background-color: #000000;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 20px;
    align-self: center;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 40px;
}

.collapsible-btn:hover {
    color:#ff5050;
}

.toggle-icon {
    float: right;
    text-align: center;
    vertical-align: middle;
}

.card-content {
    border-top: 3px solid #ff5050;
    margin-left: 20px;
    margin-right: 20px;
    max-height: 0;
    color: white;
    padding-left: 20px;
    overflow: hidden;
    transition: max-height 0.5s ease-out; /* Add animation transition for dropping down and collapsing */
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Add fade-in animation */
}

.card-content h1 {
    font-size: 30px;
}

.card-content p{
    font-size: 20px;
    margin-left: 20px;
}

.collapsible.expanded .card-content {
    max-height: 400px; /* Adjust the max height as needed */
    opacity: 1;
}