.WhatIsBAPC {
    line-height: 200%;
    font-size: 2.2vw;
    letter-spacing: 0.2875vw;
}

.WhatIsBAPC .heading {
    margin: 3vw;
    padding-top: 8.5vw;
    font-size: 6vw;
}

.FAQ {
    padding: 1.2vw;
    margin: 3vw;
    font-size: 3rem;
    letter-spacing: 0.2875vw;
    text-align: center;
}

.question {
    padding: 1.2vw;
    margin: 0.2875vw;
    font-size: 2rem;
    letter-spacing: 0.115vw;
    text-align: left;
}

.answer {
    padding: 1.2vw;
    margin: 1.8vw;
    color: #fcfcfc;
    font-size: 1.2rem;
    letter-spacing: 0.115vw;
    text-align: left;
}

.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 332px;
    height: 300px;
    animation: slideLogo 1s linear 1.5s 1 forwards;
    transform: translateX(50%);
}

#home-mask {
    width: 664px;
    height: 50%;
    background-color: var(--bs-body-bg);
    border-radius: 70px;
    position: absolute;
    transform: translateX(-50px);
    animation: slideMask 1s linear 1.5s 1 forwards;
    z-index: 0;
}

#home-shard {
    width: 1px;
    height: 350px;
    background: linear-gradient(transparent, white, transparent);
    position: absolute;
    z-index: 0;
    transform: translateX(0.75rem);
    animation: slideShard 1s linear 2.25s 1 forwards;
    visibility: hidden;
}

#home-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInfo 1s linear 1.5s 1 forwards;
    transform: translateX(-100%);
    visibility: hidden;
    z-index: 3;
}

.char {
    text-align: center;
    display: inline-block;
    position: absolute;
    opacity: 1;
    animation: explode2 1s cubic-bezier(0.25, 1, 0.5, 1) reverse, shake 0.1s ease-out forwards;
    animation-delay: 0s, 1s;
    animation-iteration-count: 1, 2;
    text-shadow: 0 0 10px red;
    transition-duration: 1s;

    color: #ff1044;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #ff1044;
    font-family: 'Jura', monospace;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
}

/* Character positions */
#oB {
    transform: translate(-7.331rem, 0.05rem);
    --x: calc(-40vw + 166px + 0.75rem);
    --y: -6.25rem;
    --ang: 5deg;
    --scale: 1;
}

#B {
    transform: translate(-38px, -52.6px);
    --x: calc(-26vw + 166px + 0.75rem);
    --y: 150px;
    --ang: -4deg;
    --scale: 3;
}

#A {
    transform: translate(40px, -56.6px);
    --x: calc(-8vw + 166px + 0.75rem);
    --y: -150px;
    --ang: 7deg;
    --scale: 3;
}

#P {
    transform: translate(-40.5px, 47.3px);
    --x: calc(9vw + 166px + 0.75rem);
    --y: 200px;
    --ang: -12deg;
    --scale: 3;
}

#C {
    transform: translate(35.5px, 47.3px);
    --x: calc(26vw + 166px + 0.75rem);
    --y: -20px;
    --ang: -3deg;
    --scale: 3;
}

#cB {
    transform: translate(117.3px, 0.8px);
    --x: calc(40vw + 166px + 0.75rem);
    --y: 100px;
    --ang: 15deg;
    --scale: 1;
}

.hero {
    font-weight: 600;
    font-size: 11.5vw;
    letter-spacing: 3vw;
}

.date {
    font-size: 60px;
    letter-spacing: 0.3vw;
    margin-bottom: 0;
    z-index: 3;
    position: relative;
}

#registerButton {
    width: 100%;
    font-size: min(2.5vw, 2.6em);
    color: var(--bs-body-color);
    text-decoration: none;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    outline: 0.2vw solid #9b0e2d;
    padding: 1vw;
    backdrop-filter: blur(5px);
    background-color: #ff114420;
}

#registerButton:hover {
    font-weight: bold;
    box-shadow: 0 0 1.15vw 1px var(--bs-border-color);
    rotate: 1deg;
}

#discordButton {
    color: #9656ce;
    width: 100%;
    font-size: min(1.9vw, 1.9em);
    text-decoration: none;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    outline: 0.2vw solid #9656ce;
    padding: 1vw;
    backdrop-filter: blur(5px);
    background-color: #9656ce25;
}

#discordButton:hover {
    font-weight: bold;
    box-shadow: 0 0 1.15vw 1px #9656ce;
    rotate: 1deg;
}

main div.Contest a {
    display: flex;
    align-items: center;
    color: var(--bs-body-color);
    font-size: 2.8vw;
    text-decoration: none;
    border-radius: 10px;
    outline: 0.2vw solid var(--bs-border-color);
    padding: 1.2vw 2vw;
    box-shadow: 0 0 1.15vw 5px rgb(255, 0, 0);
}

main div.Contest a:hover {
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 1.15vw 10px rgb(255, 0, 0);
}

#delayed-button {
    opacity: 0;
    transition: opacity 3s ease-out;
    height: 2.1275vh;
}

#delayed-button.active {
    cursor: pointer;
    opacity: 1;
    animation: .6s linear 0.2s infinite alternate bounce;
}

.Sponsors {
    padding: 1.2vw;
    margin: 3vw;
    font-size: 4rem;
    letter-spacing: 0.2875vw;
    text-align: center;
}

.Sponsors .row {
    justify-content: center;
}

.sponsors-title {
    color: #ff1144;
    font-size: 6rem;
}

.sponsor-tier {
    margin: 2rem 0;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    color: var(--bs-body-color);
    border-radius: 2vw;
    border: 0.23vw solid var(--bs-border-color);
}

.sponsor-tier.platinum {
    color: #93CFFB;
}

.sponsor-tier.silver {
    color: #c0c0c0;
}

.sponsor-tier.bronze {
    color: #CD7F32;
}

.sponsor-contact {
    letter-spacing: 2px;
}

/* Animations */
@keyframes slideMask {
    0% {
        transform: translateX(calc(25% - 30px));
    }
    100% {
        transform: translateX(-31px);
    }
}

@keyframes slideShard {
    0% {
        height: 0;
        visibility: hidden;
    }
    100% {
        height: 350px;
        visibility: visible;
        z-index: 3;
    }
}

@keyframes slideInfo {
    0% {
        transform: translateX(-100%);
        visibility: visible;
        z-index: -1;
    }
    99% {
        transform: translateX(0%);
        visibility: visible;
        z-index: -1;
    }
    100% {
        transform: translateX(0%);
        visibility: visible;
        z-index: 3;
    }
}

@keyframes slideLogo {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-1%);
    }
}

@keyframes shake {
    0% { rotate: 0deg; }
    25% { rotate: -10deg; }
    75% { rotate: 10deg; }
    100% { rotate: 0deg; }
}

@keyframes explode2 {
    0% {}
    100% {
        transform: translate(calc(var(--x) - 166px), var(--y)) scale(var(--scale)) rotate(var(--ang));
    }
}

@keyframes explode {
    0% {}
    100% {
        transform: translate(var(--x), var(--y)) scale(var(--scale)) rotate(var(--ang));
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-1em);
    }
}

/* Media Queries */
@media (max-width: 1400px) {
    #B, #A, #P, #C {
        --scale: 2.5;
    }
}

@media (max-width: 1200px) {
    #B, #A, #P, #C {
        --scale: 2.2;
    }
}

@media (max-width: 992px) {
    #B, #A, #P, #C {
        --scale: 1.7;
    }
}

@media (max-width: 768px) {
    .char {
        animation: none;
    }

    .logo {
        animation: none;
        transform: none;
    }

    #home-info {
        animation: none;
        transform: none;
        visibility: visible;
    }

    #home-info a {
        height: 100px;
        font-size: 5.8vw;
        outline: 0.4vw solid;
    }

    .date {
        font-size: 9vw !important;
        font-weight: bold;
    }

    #home-shard {
        transform: translateY(160px) rotate(90deg);
    }
}
