@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
/*home page*/
.Home {
	/*background-image:url(/background_4.png);*/
	background-size:cover;
	background-position:50% 50%;
	width: 100%;
	height:100vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
    margin:0px;
    padding:0px;
}

.blur-section {
    width: 100%;
    height: 100px; /* Adjust the height of the blurred section as needed */
    margin: 0;
    top: 0px;
    position: absolute;
    background: black;
    /*filter: blur(10px); /* Adjust the blur radius as needed */

}

/*200px = 700%*/
/*200px = 11.5vw*/

a.cipher {
    color: #ff1144;
    font-family: "Jura", monospace;
    font-size: 11.5vw;
    letter-spacing: 3vw;
    text-decoration: none;
    text-align: center;
    margin: 0;
}


main div.Summary {
    position: relative;
    top: 0;
    color: #fcfcfc;
    font-family: "Jura", monospace;
    font-size: 5vw;
    letter-spacing: 0.3vw;
    text-decoration: none;
    text-align: top;
    margin: 0;
    top: -1.2vw;
}

main div.Register a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	color:#ff1144;
    font-size:2.8vw;
    font-family: "Jura", monospace;
    font-weight: bold;
	text-decoration:none;
	padding:0.5em;
	cursor:pointer;
	height:3vw;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    outline: 2px solid #ff1144;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1.2vw;
    padding-bottom: 1.2vw;
    
}

main div.Register a:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	color: #ff1144;
    font-size:2.8vw;
    font-family: "Jura", monospace;
    font-weight: bold;
	text-decoration:none;
	cursor:pointer;
	height:3vw;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgb(255, 0, 0);
    background-color: #000000;
}

.WhatIsBAPC{
    min-height: 100vh;
    background-position:50% 50%;
    padding: 0;
    margin: 0;
    line-height: 200%;
    position: relative;
    color: #fcfcfc;
    font-family: "Jura", monospace;
    font-size: 2.2vw;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    background-color: black;
}

.WhatIsBAPC .heading{
    margin: 3vw;
    padding-top: 5.5vw;
    position: relative;
    color: #ff1144;
    font-family: "Jura", monospace;
    font-size: 6vw;
    font-weight: 1000;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #000000;
    border-radius: 20px;
}

.FAQ{
    padding: 1.2vw;
    margin: 3vw;
    position: relative;
    color: #ff1144;
    font-family: "Jura", monospace;
    font-size: 3rem;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #000000;
    border-radius: 1.2vw;
}

.question{
    padding: 1.2vw;
    margin: 5px;
    position: relative;
    color: #ff1144;
    font-family: "Jura", monospace;
    font-size: 2rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: left;
    background-color: #000000;
    border-radius: 10px;
}

.answer{
    padding: 1.2vw;
    margin: 1.8vw;
    position: relative;
    color: #fcfcfc;
    font-family: "Jura", monospace;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: left;
    background-color: #000000;
    border-radius: 10px;
}

.Sponsors{
    padding: 1.2vw;
    margin: 3vw;
    position: relative;
    color: #ff1144;
    font-family: "Jura", monospace;
    font-size: 4rem;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #000000;
    border-radius: 20px;
}

/* every other page*/
main {
    position: relative;
    width: 100vw;
    height: 100px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
    margin:0px;
    padding:0px;
}

#logo {
    position:absolute;
    top:10px;
    left:20px;
    width:auto;
    height:80px;
    margin:0px;
    padding:0px;
}

main div {
	margin:20px;
	text-align:top;
	background-color: #000000;
	border-radius:1px;	
	padding:0px;
}

#row1{
	position:absolute;
	top:0;
	left:130px;
	display:flex;
	flex-direction:row;
	width:52vw;
	height:100px;
	align-items:center;
    vertical-align: middle;
	justify-content:flex-start;
	gap: 20px;
	margin-right:20px;
    vertical-align: middle;
}

main nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	color:white;
    font-size:1.5em;
    font-family: "Jura", monospace;
    font-weight: bold;
	text-decoration:none;
	padding:0.5em;
	cursor:pointer;
	height:3vw;
    text-align: center;
    background-color: #000000;
    border-radius: 3px;
}

main nav a:hover {
	background-color:#000000;
	color:#ff1144;
    text-shadow: 0 0 10px rgb(255, 0, 0);
	border-radius:3px;
}


body {
    background-color: black;
    margin:0px;
    padding:0px;
}

.title{
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 50px;
    font-size: 2vw;
    font-family: "Jura", monospace;
    font-weight: bold;
    height: auto;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

th, td {
    padding: 15px;
    text-align: center;
}

tr{
    display: flex;
    align-items: top;
    justify-content: center;
}

.card-nonglow,
.card {
    transition: box-shadow 0.3s;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 37px;
    background-color: black;
    border: 4px solid #ff1144;
    padding: 25px;
    font-family: "Jura", monospace;
    flex: 1;
}

.card h1{
    font-weight: 1000;
    color: #ff1144;
    font-size: 40px;
}

.card p{
    color: #F14;
	text-align: center;
	font-family: Jura;
	font-size: 1.5625rem;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.ruleslist{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: left;
    align-items: left;
}

tbody {
    display: flex;
    gap: 0px; /* Adjust the gap as needed */
    margin-left: 100px;
    margin-right: 100px;
}

.collapsible{
    margin-left: 100px;
    margin-right: 100px;
}

.collapsible-btn {
    background-color: #000000;
    border: none;
    color: #ff1144;
    font-family: "Jura", monospace;
    font-weight: 1000;
    border-radius: 10px;
    padding: 20px;
    align-self: center;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 40px;
}

.collapsible-btn:hover {
    color:#ff1144;
}

.toggle-icon {
    float: right;
    text-align: center;
    vertical-align: middle;
}

.card-content {
    border-top: 3px solid #ff1144;
    margin-left: 20px;
    margin-right: 20px;
    max-height: 0;
    color: #ff1144;
    padding-left: 20px;
    overflow: hidden;
    transition: max-height 0.5s ease-out; /* Add animation transition for dropping down and collapsing */
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Add fade-in animation */
}

.card-content h1 {
    font-size: 30px;
}

.card-content p{
    font-size: 20px;
    margin-left: 20px;
}

.collapsible.expanded .card-content {
    max-height: 400px; /* Adjust the max height as needed */
    opacity: 1;
}

.fade-in-text {
    opacity: 0;
    transition: opacity 2s ease-in; /* Add a transition for smoother fade-in effect */
}

.fade-in-text.fade-in {
    opacity: 1;
}


.namecards {
    display: grid;
    margin-left: 5vw;
    margin-right: 5vw;
    gap: 0px;
    grid-template-columns: repeat(1, 1fr); /* Adjust the number of columns as needed */
    align-items: center;
    justify-content: center;
}

.namecard {
    width: auto;
    height: 100vw;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    flex: 1;
}

.namecard-front {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: black;
    border: 4px solid #ff1144;
    font-family: "Jura", monospace;
    flex: 1;
}

.namecard-back{
    transform: rotateY(180deg);
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: black;
    border: 4px solid #ff1144;
    font-family: "Jura", monospace;
    flex: 1;
}

.namecard .namecard-back h1{
    font-weight: 1000;
    color: #ff1144;
    font-size: 4vw;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;

}


.namecard-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: top;
    display: grid;
    place-items: center;
    transform-style: preserve-3d;
    transition: transform 0.5s; /* Set the transition duration */
}

.namecard:hover .namecard-inner {
    transform: rotateY(180deg); /* Rotate the card on hover */
}

.namecard-face {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    align-items: top;
    display: grid;
    grid-template-rows: auto 20%;
    place-items: center;
    position: absolute;
    backface-visibility: hidden; /* Hide the back face of the card */
}



.namecard h1{
    font-weight: 1000;
    color: #ff1144;
    font-size: 5vw;
    margin: 0px;
    margin-top: 10px;
}

.namecard p{
    color: #ff1144;
    font-size: 4vw;
    margin-top: 5px;
}

.circle-cutout {
    width: 80%; /* Set the desired width */
    height: auto; /* Set the desired height */
    overflow: hidden;
    border-radius: 25%; /* Make the container circular */
    margin-bottom: 20px;
}

.circle-cutout img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space under the image */
}


.nameplate {
    transition: box-shadow 0.3s;
    position: relative;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: black;
    border: 4px solid #ff1144;
    font-family: "Jura", monospace;
    flex: 1;
}

.nameplate-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: top;
    display: grid;
    place-items: center;
}

.nameplate-logo{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nameplate-name{
    font-weight: 1000;
    color: #ff1144;
}

.nameplate-name h1{
    font-weight: 1000;
    color: #ff1144;
    font-size: 5vw;
    margin: 0;
    margin-top: -5vw;
}

.nameplate-name p{
    font-weight: 1000;
    color: #ff1144;
    font-size: 4vw;
    margin: 0;
}

.nameplate-text{
    font-weight: 1000;
    color: #ff1144;
    font-size: 3vw;
    margin: 3vw;
    margin-top: 5px;
}

.socials{
    justify-content: center;
    align-items: center;
    margin: 0;
    fill: #fcfcfc;
}

.socials:hover{
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}

.socials path{
    fill: #fcfcfc;
}

.socials:hover path{
    fill: #ff1144;
}

.svg-buttons {
    margin-bottom: 0px; /* Adjust margin as needed */
}

.svg-buttons svg {
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 2px; /* Adjust margin as needed */
    cursor: pointer;
}


@media (min-width: 800px) {
    .namecards {
        grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
    }
    .namecard{
        height: 55vw;
    }
    .namecard .namecard-back h1{
        font-weight: 1000;
        color: #ff1144;
        font-size: 2.5vw;
        margin: 10px;
        margin-left: 30px;
        margin-right: 30px;
    
    }

    .namecard h1{
        font-weight: 1000;
        color: #ff1144;
        font-size: 3vw;
        margin: 0px;
        margin-top: 20px;
    }
    
    .namecard p{
        color: #ff1144;
        font-size: 2vw;
        margin-top: 5px;
    }
}

@media (min-width: 1200px) {
    .namecards {
        grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    }   
    .nameplate-inner{
        grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
        grid-template-rows: 35vw 1fr; /* Adjust the number of columns as needed */
    }
    .nameplate-name h1{
        font-size: 7vw;
        margin-right: 20px;
        margin-top: 3vw;
    }
    .nameplate-name p{
        font-size: 5.5vw;
        margin-right: 20px;
        margin-top: 0px;
    }
    .nameplate-logo{
        grid-row-start: 1;
        grid-column-start: 1;
    }
    .nameplate-text{
        grid-row-start: 2;
        grid-column-start: span 2;
        font-size: 3vw;
    }
    .namecard{
        height: 35vw;
    }
    .namecard .namecard-back h1{
        font-weight: 1000;
        color: #ff1144;
        font-size: 1.7vw;
        margin: 10px;
        margin-left: 30px;
        margin-right: 30px;
    
    }

    .namecard h1{
        font-weight: 1000;
        color: #ff1144;
        font-size: 2.5vw;
        margin: 0px;
        margin-top: 5px;
    }
    
    .namecard p{
        color: #ff1144;
        font-size: 1.5vw;
        margin-top: 5px;
    }
}

@media (min-width: 1500px) {
    .namecards {
        grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    }  
    .nameplate-name h1{
        font-size: 4vw;
        margin-right: 20px;
        margin-top: 3vw;
    }
    .nameplate-name p{
        font-size: 3.5vw;
        margin-right: 20px;
        margin-top: 0px;
    }
    .nameplate-text{
        grid-row-start: 2;
        grid-column-start: 2;
        font-size: 2vw;
    }
    .nameplate-logo{
        grid-row-start: span 2;
        grid-column-start: 1;
    }
    .nameplate-inner{
        grid-template-columns: 35vw auto; /* Adjust the number of columns as needed */
        grid-template-rows: 13vw 1fr; /* Adjust the number of columns as needed */
    }
    .namecard{
        height: 25vw;
    }
    .namecard .namecard-back h1{
        font-weight: 1000;
        color: #ff1144;
        font-size: 1.3vw;
        margin: 10px;
        margin-left: 30px;
        margin-right: 30px;
    
    }
    .namecard h1{
        font-weight: 1000;
        color: #ff1144;
        font-size: 2vw;
        margin: 0px;
        margin-top: 5px;
    }
    
    .namecard p{
        color: #ff1144;
        font-size: 1.1vw;
        margin-top: 5px;
    }
}