@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");

* {
    font-family: "Jura", monospace;
    --bs-body-color: #ff1144;
    --bs-primary-text-emphasis: #ff1144;
    --bs-border-color: #ff1144;
    --bs-body-bg: black;
    --bs-primary-bg-subtle: #111111;

    --bs-link-color-rgb: 255, 17, 68;

    /* Override a bunch of styling for accordion in contest.html */
    --bs-accordion-border-color: transparent;
    --bs-accordion-btn-focus-box-shadow: transparent;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f14'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f14'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

    /* Override a bunch of styling for navbar */
    --bs-navbar-nav-link-padding-x: 1.3rem;
    --bs-nav-link-font-size: 1.5rem;
    --bs-nav-link-font-weight: bold;
}


.hero {
    font-weight: 600;
    font-size: 11.5vw;
    letter-spacing: 3vw;
    top: 10%;
}

.date {
    font-size: 5vw;
    letter-spacing: 0.3vw;
}

main div.Register a {
    display: flex;
    align-items: center;
    color: #ff1144;
    font-size: 2.8vw;
    text-decoration: none;
    border-radius: 0.575vw;
    outline: 0.2vw solid #ff1144;
    padding: 1.2vw 3vw;
}

main div.Register a:hover {
    font-weight: bold;
    border-radius: 0.575vw;
    box-shadow: 0 0 1.15vw 1px rgb(255, 0, 0);
}

#delayed-button {
    display: none;
    opacity: 0;
    transition: opacity 2s ease-out;
    height: 2.1275vw;
    position: relative;
    padding: 1.15vw;
    box-sizing: content-box;
}

.WhatIsBAPC {
    line-height: 200%;
    font-size: 2.2vw;
    letter-spacing: 0.2875vw;
}

.WhatIsBAPC .heading {
    margin: 3vw;
    padding-top: 8.5vw;
    font-size: 6vw;
}

.FAQ {
    padding: 1.2vw;
    margin: 3vw;
    font-size: 3rem;
    letter-spacing: 0.2875vw;
    text-align: center;
}

.question {
    padding: 1.2vw;
    margin: 0.2875vw;
    font-size: 2rem;
    letter-spacing: 0.115vw;
    text-align: left;
}

.answer {
    padding: 1.2vw;
    margin: 1.8vw;
    color: #fcfcfc;
    font-size: 1.2rem;
    letter-spacing: 0.115vw;
    text-align: left;
}

.Sponsors {
    padding: 1.2vw;
    margin: 3vw;
    font-size: 4rem;
    letter-spacing: 0.2875vw;
    text-align: center;
}

.fade-in-text {
    opacity: 0;
}

.fade-in-text.fade-in {
    opacity: 1;
}

.card-border {
    border-radius: 1rem;
    border: 0.23vw solid #ff1144;
}

.card-flip > div {
    backface-visibility: hidden;
    transition: transform 0.5s;
    width: 100%;
    height: 100%;
    min-height: 22rem;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
}

.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
    transform: rotateY(0deg);
}

.circle-cutout {
    width: 80%; /* Set the desired width */
    height: auto; /* Set the desired height */
    overflow: hidden;
    border-radius: 25%; /* Make the container circular */
    margin: auto auto 1.15vw;
}

.circle-cutout img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space under the image */
}

.socials {
    justify-content: center;
    align-items: center;
    margin: 0;
    fill: #fcfcfc;
}

.socials:hover,
.socials:active {
    transform: translateY(-0.115vw);
    transition: all 0.3s ease-in-out;
}

.socials path {
    fill: #fcfcfc;
}

.socials:hover path,
.socials:active path {
    fill: #ff1144;
}

.svg-buttons svg {
    width: 24px;
    height: 24px;
}
