@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");

* {
    font-family: "Jura", monospace;
    --bs-body-color: #ff1144;
    --bs-navbar-nav-link-padding-x: 1.3rem;
    --bs-nav-link-font-size: 1.5rem;
    --bs-nav-link-font-weight: bold;
}

/*home page*/
.Home {
	/*background-image:url(/background_4.png);*/
	background-size:cover;
	background-position:50% 50%;
	width: 100%;
	height:100vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
    margin:0;
    padding:0;
}


a.cipher {
    color: #ff1144;
    font-size: 11.5vw;
    letter-spacing: 3vw;
    text-decoration: none;
    text-align: center;
    margin: 0;
}


main div.Summary {
    position: relative;
    color: #fcfcfc;
    font-size: 5vw;
    letter-spacing: 0.3vw;
    text-decoration: none;
    margin: 0;
    top: -1.2vw;
}

main div.Register a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	color:#ff1144;
    font-size:2.8vw;
    font-weight: bold;
	text-decoration:none;
	padding: 3vw;
	cursor:pointer;
	height:3vw;
    text-align: center;
    background-color: black;
    border-radius: 0.575vw;
    outline: 0.2vw solid #ff1144;

}

main div.Register a:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	color: #ff1144;
    font-size:2.8vw;
    font-weight: bold;
	text-decoration:none;
	cursor:pointer;
	height:3vw;
    text-align: center;
    border-radius: 0.575vw;
    box-shadow: 0 0 1.15vw 1px rgb(255, 0, 0);
    background-color: #000000;
}

#delayed-button {
    display: none;
    opacity: 0;
    transition: opacity 2s ease-out;
    height: 2.1275vw;
    position: absolute;
    padding: 1.15vw;
    box-sizing: content-box;
}

.WhatIsBAPC{
    min-height: 100vh;
    background-position:50% 50%;
    padding: 0;
    margin: 0;
    line-height: 200%;
    position: relative;
    color: #fcfcfc;
    font-size: 2.2vw;
    letter-spacing: 0.2875vw;
    text-decoration: none;
    text-align: center;
    background-color: black;
}

.WhatIsBAPC .heading{
    margin: 3vw;
    padding-top: 5.5vw;
    position: relative;
    color: #ff1144;
    font-size: 6vw;
    font-weight: 1000;
    letter-spacing: 0.2875vw;
    text-decoration: none;
    text-align: center;
    background-color: #000000;
    border-radius: 1.15vw;
}

.FAQ{
    padding: 1.2vw;
    margin: 3vw;
    position: relative;
    color: #ff1144;
    font-size: 3rem;
    letter-spacing: 0.2875vw;
    text-decoration: none;
    text-align: center;
    background-color: #000000;
    border-radius: 1.2vw;
}

.question{
    padding: 1.2vw;
    margin: 0.2875vw;
    position: relative;
    color: #ff1144;
    font-size: 2rem;
    letter-spacing: 0.115vw;
    text-decoration: none;
    text-align: left;
    background-color: #000000;
    border-radius: 0.575vw;
}

.answer{
    padding: 1.2vw;
    margin: 1.8vw;
    position: relative;
    color: #fcfcfc;
    font-size: 1.2rem;
    letter-spacing: 0.115vw;
    text-decoration: none;
    text-align: left;
    background-color: #000000;
    border-radius: 0.575vw;
}

.Sponsors{
    padding: 1.2vw;
    margin: 3vw;
    position: relative;
    color: #ff1144;
    font-size: 4rem;
    letter-spacing: 0.2875vw;
    text-decoration: none;
    text-align: center;
    background-color: #000000;
    border-radius: 1.15vw;
}

#row1{
	position:absolute;
	top:0;
	left:130px;
	display:flex;
	flex-direction:row;
	width:52vw;
	height:100px;
	align-items:center;
    vertical-align: middle;
	justify-content:flex-start;
	gap: 20px;
	margin-right:20px;
}

main nav a:hover {
	background-color:#000000;
	color:#ff1144;
    text-shadow: 0 0 10px rgb(255, 0, 0);
	border-radius:0.1725vw;
}


body {
    background-color: black;
    margin:0;
    padding:0;
}

.title{
    color: white;
    text-align: center;
    padding: 0.2875vw;
    font-size: 2vw;
    font-weight: bold;
    height: auto;
}

.cards {
    display: grid;
    margin: 0;
    margin-left: 5vw;
    margin-right: 5vw;
    gap: 0;
    grid-template-columns: repeat(1, 1fr); /* Adjust the number of columns as needed */
    align-items: center;
    justify-content: center;
}

.card-nonglow {
    transition: box-shadow 0.3s;
    height: 80%;
    background-color: black;
    padding: 1.5vw;
    flex: 1;
    text-align: left;
}

.ruleslist{
    color: rgb(255, 255, 255);
    font-size: 1.15vw;
    text-align: left;
}

.collapsible{
    margin-left: 5.75vw;
    margin-right: 5.75vw;
}

.collapsible-btn {
    background-color: #000000;
    border: none;
    color: #ff1144;
    font-weight: 1000;
    border-radius: 0.575vw;
    padding: 1.15vw;
    align-self: center;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 2.3vw;
}


.toggle-icon {
    float: right;
    text-align: center;
    vertical-align: middle;
}

.card-content {
    border-top: 0.1725vw solid #ff1144;
    margin-left: 1.15vw;
    margin-right: 1.15vw;
    max-height: 0;
    color: #ff1144;
    padding-left: 1.15vw;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Add fade-in animation */
}

.collapsible.expanded .card-content {
    opacity: 1;
}

.fade-in-text {
    opacity: 0;
}

.fade-in-text.fade-in {
    opacity: 1;
}

.card-border {
    border-radius: 1rem;
    border: 0.23vw solid #ff1144;
}

.card-flip > div {
    backface-visibility: hidden;
    transition: transform 0.5s;
    width: 100%;
    height: 100%;
    min-height: 22rem;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
}

.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
    transform: rotateY(0deg);
}

.circle-cutout {
    width: 80%; /* Set the desired width */
    height: auto; /* Set the desired height */
    overflow: hidden;
    border-radius: 25%; /* Make the container circular */
    margin: auto auto 1.15vw;
}

.circle-cutout img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space under the image */
}

.socials{
    justify-content: center;
    align-items: center;
    margin: 0;
    fill: #fcfcfc;
}

.socials:hover,
.socials:active{
    transform: translateY(-0.115vw);
    transition: all 0.3s ease-in-out;
}

.socials path{
    fill: #fcfcfc;
}

.socials:hover path,
.socials:active path{
    fill: #ff1144;
}

.svg-buttons {
    margin-bottom: 0; /* Adjust margin as needed */
}

.svg-buttons svg {
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0.115vw; /* Adjust margin as needed */
    cursor: pointer;
}

@media (min-width: 1000px) {
    #r1{
        grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
        margin: 2vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    #r2{
        grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
        margin: 2vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    #r3{
        grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
        margin: 2vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}
